{% load static %}<!DOCTYPE html>
<html lang="en-en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Adjust Test{% endblock %}</title>
</head>
<body>
{% block body %}
    <a href="/import_to_db/">/import_to_db/</a> - populate DB in silent. No progress bar or any other activities.
    Don't worry, just wait a
    little. <strong>And please use only once.</strong><br>
    <h2>API format</h2>
    <h3>Filters:</h3>
    date_from<br>
    date_to<br>
    os<br>
    channel<br>
    country<br>
    <h3>Sorters:</h3>
    all fields<br>

    <h3>Group by:</h3>
    date<br>
    channel<br>
    country<br>
    os<br>

    Output in JSON, incorrect values in groupby ignored.<br>
    Sample calls:<br>
    <a href="/api/v1/records/?date_to=2017-06-01&groupby=channel,country&order=-clicks">
        /api/v1/records/?date_to=2017-06-01&groupby=channel,country&order=-clicks</a><br>
    <a href="/api/v1/records/?date_from=2017-05-01&date_to=2017-05-31&groupby=date&order=date">
        /api/v1/records/?date_from=2017-05-01&date_to=2017-05-31&groupby=date&order=date</a><br>
    <a href="/api/v1/records/?date=2017-06-01&country=US&groupby=os">
        /api/v1/records/?date=2017-06-01&country=US&groupby=os</a>



{% endblock body %}
</body>
</html>